*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white/* greenyellow*/;
    
}
.field{
    display: none;
    border: 1px solid black;
}
.element{
    box-sizing: border-box;
    text-align: center;
    background-color: gray;
    border: 1px solid black;
    font-size: 13pt;
    font-weight: 400;
}
.element:hover{
    background-color: whitesmoke;
}
.row{
    display: flex;
    flex-direction: row;
}
